<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Jail.Properties.Settings.JailConnectionString" connectionString="Data Source=DESKTOP-2R3NOAT\SQLEXPRESS;Initial Catalog=Jail;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Jail.Properties.Settings.JailBConnectionString" connectionString="Data Source=DESKTOP-2R3NOAT\SQLEXPRESS;Initial Catalog=JailB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>